@import './variables';
@import './mixin';
@import '~@fortawesome/fontawesome-free/css/all.css';
// 
// 
// Reset
// 
// 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// 
// Wrapper
// 
// 
.wrapper {
    max-width: 75rem;
    margin: 0 auto
}

.banner {
    height: $sectionHeight;
}
// 
// 
// Font
// 
//
// --font-family 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body, 
a,
button,
input {
    font-family: 'Montserrat', sans-serif;
    font-size: $txt;
    letter-spacing: .07rem;
}
// --titles
h2 {
    font-size: 3.75rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}
// --txt 
body {
    font-weight: 400;
    color: $cbShark;
}
.text--xs {
    font-size: .75rem;
}

.text--sm {
    font-size: .85rem;
}

p {
    line-height: 2rem;
}
// 
// 
// Reset list
// 
// 
ul {
    list-style: none;
}
// 
// 
// Reset a
// 
// 
a {
    display: inline-block;
    text-decoration: none;
}

a.btn--sm {
    font-size: $txt;
    font-weight: 600;
    letter-spacing: .05rem;
    text-transform: uppercase;
    padding: .8rem 1.25rem;
    border-radius: 2rem;
}

a.btn--md {
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.25rem 2.75rem;
    border-radius: 2rem;
    margin: 0 $gutter;
}

a.btn--filled {
    background-color: $cbHavelockBlue;
    color: $cbWhite;
}

a.btn--border {
    background-color: transparent;
    color: $cbWhite;
    border: 2px solid $cbWhite;
}
// 
// 
// Button, btn
// 
// 
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn {
    color: $cbShark;
    padding: $gutter--md $gutter;
    & > *:not(:last-child) {
            margin-right: $gutter;
    }
}

button.btn--lg {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
}

button.btn--border {
    border-left: $border;
    border-right: $border;
}

button.btn--filled {
    background-color: $grey-800;
}
// 
// 
// Transition
// 
// 
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
  
.fade-enter, .fade-leave-to  {
opacity: 0;
}