// Colors
// 
// 
// --color-cube
$cbWhite: #ffffff;
$cbShark: #2a2f33;
$cbShocking: #e280b1;
$cbFedora: #6b6a6b;
$cbHavelockBlue: #427ed5;
$cbTuscany: #bd6e29;
$cbBrightTurquise: #29f1f3;
$cbRegentStBlue: #a2bfe3;
$cbTamarillo: #940e19;
$cbConfetti: #e6ca5c;
// --median-cut
$mdnMelanie: #e6c3d3;
$mdnShark: #2f3034;
$mdnAmericano: #89746c;
$mdnLavenderPurple: #8778b6;
$mdnCascade: #97acae;
// material-design
$mtrTan: #d0a890;
$mtrEdward: #a0a5a5;
$mtrBurntUmber: #882236;
$mtrNevada: #64686c;
$mtrShocking: #db80b3;
//
$grey: #575c61;
$grey-500: #eaeaea;
$grey-800: #f6f6f6;
// 
//
// Gutter
// 
//
$gutter--sm: .5rem;
$gutter: .75rem;
$gutter--md: 1.375rem;
$gutter--lg: 3.125rem;
$gutter--xl: 7.5rem; 
// 
//
// FontSize
// 
//
$txt: 1rem;
$txt--md: 1.2rem;
// 
//
// Border
// 
//
$border: 1px solid $grey-500;
// 
//
// Section 
// 
//
$sectionHeight: 38.75rem;
$sectionMargin: 8.125rem;